<!doctype html>
<html lang="fr" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MicAI{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script defer src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <main class="container py-5">
      {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %}
  </body>
</html>
